
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <input type="text" name="Name" placeholder="Name" /><br />
    <input type="text" name="Description" placeholder="Description" /><br />
    <input type="submit" value="Submit" />
</form>

